.container-home {
  position: relative;
  text-align: center;
  color: rgb(248, 232, 232);
  font-weight: bold;
}

div .container-home {
  width: 100%;
}

div .container-home h1 {
  font-size: 3rem;
  font-weight: 900;
}

.container-home h3 {
  font-size: 2.2rem;
  color: #e90678;
  font-weight: 900;
  text-shadow: 2px 2px 5px black;
}

.centered {
  position: absolute;
  top: 25%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.imgHome {
  width: 100%;
}

#div1 {
  animation-timing-function: linear !important;
  font-weight: 900;
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  animation: mymove 4.5s infinite;
  /* bottom: 50px; */
  color: black;
}

main .container-home {
  background-color: #ee8383;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.home-form a {
  text-decoration: none !important;
}

@keyframes mymove {
  0% {
    left: -100px;
  }
  50% {
    left: 150px;
  }
  100% {
    left: -100px;
  }
}
